body {
    background-color:#4d004d;
    color:palegoldenrod;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    font-size:0.75rem;
}
#container {
    width:90%;
    max-width:50vw;
    margin:1vw auto;
}
#container h1 {
    padding:1rem;
}
#request {
    border:none;
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.3rem;
    background-color:lightyellow;
    color:darkmagenta;
}
#songRequest button {
    border:none;
    background-color:palegoldenrod;
    color:darkmagenta;
    padding:0.3rem 0.75rem 0.3rem 0.75rem;
    box-shadow:0 2px 5px rgba(255,255,255,0.4);
    border-radius: 0.3rem;
    font-weight: bold;
}
#theTunes {
    padding:0;
}
#theTunes li{
    background-color:palegoldenrod;
    color:darkmagenta;
    margin:1rem 0;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(255,255,255,0.4);
    min-height:2rem;
    line-height:1rem;
    font-size:1.5rem;
    font-weight:bold;
    position:relative;
    display:flex;
    align-items: center;
    text-align: left;
}
#theTunes li a {
    text-decoration: none;
    color:darkmagenta;
    display:inline-block;
    width:100%;
    padding:1.5rem 3.5rem 1.5rem 2rem;
}
#theTunes li a:hover {
    color:magenta;
}
#theTunes li:hover, #songRequest button:hover {
    background-color:lightyellow;
    color:magenta;
}
#songList span {
    position:absolute;
    right:1.5rem;
}